<link rel="shortcut icon" type="image/ico" href="http://openprofession.ru/static/img/favicon.png">

  <footer id="footer" class="wrapper footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-2">
        <a href="https://openprofession.ru" class="footer__logo">
          <img src="/static/img/logo-white.svg" alt="">
        </a>
        <ul class="footer__social">
          <li class="footer__social-item footer__vk">
            <a href="https://vk.com/open_profession" target="_blank"><i class="icon icon_type_vk"></i></a>
          </li>
          <li class="footer__social-item footer__facebook">
            <a href="https://www.facebook.com/openprofession/" target="_blank"><i class="icon icon_type_facebook"></i></a>
          </li>
          <li class="footer__social-item footer__instagram">
            <a href="https://instagram.com/open_profession" target="_blank"><i class="icon icon_type_instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-md-10">
          <style>.prosent {display:none}
.footer__copywriter {display:none}
.footer__navigation-list ul {width:40%}

.footer__navigation-list {
    margin-left: 50px !important;}

.footer__navigation-list li {
    display: block;
    margin-bottom: 6px;}
</style>
<div class="footer__navigation-list">
  <ul>
    <li><a href="/about" class="title">О Проекте</a></li>
    <li><a href="/add" class="title">Разместить свой курс</a></li>
    <li><a href="/jobs" class="title">Вакансии</a></li>
  </ul>
  <ul>
    <li><a href="/terms">Пользовательское соглашение</a></li>
    <li><a href="/privacy_policy">Политика конфиденциальности</a></li>
    <li><a href="/requirements">Технические требования</a></li>
  </ul>
</div>

<div class="footer__contact">
  <h3><a href="/contacts" class="title">Контакты</a></h3>
  <ul class="footer__contact-list">
    <li><a class="css-color" href="/feedback"><img src="/static/img/icons/mail.svg" alt=""> <span>Сообщить о проблеме</span></a></li>
  </ul>

</div>
</div>
      <div class="col-sm-12">
        <p class="footer__copywriter">
            OpenProfession.ru 2018.
        </p>
      </div>
    </div>
  </div>
</footer>
