<%page expression_filter="h"/>
<%! from openedx.core.djangolib.markup import HTML %>
%if unit_title:
  <h2 class="hd hd-2 unit-title">${unit_title}</h2>
% endif

% if show_bookmark_button:
    <%include file='bookmark_button.html' args="bookmark_id=bookmark_id, is_bookmarked=bookmarked"/>
% endif

<div class="vert-mod">
% for idx, item in enumerate(items):
  <div class="vert vert-${idx}" data-id="${item['id']}">
    ${HTML(item['content'])}
  </div>
% endfor

% if involvement:
<p>Token: ${involvement}</p>
% endif

<p>Involvement collection
% if involvement:
 enabled.
% else:
 disbaled.
% endif.
Click <a href='/api/involvement/change_involvement_status/'>here</a> to
% if involvement:
 disable
% else:
 enable
% endif
</p>
<%namespace name='static' file='/static_content.html'/>
% if involvement:
    <div class="camera-video-container text-right">
        <video class="hide" id="webcamVideo" width="150px" hidden playsinline autoplay muted>
        </video>
    </div>
    <script>
	//$(document).ready(function () {
            let jwtToken = '${involvement}'
            let videoElementId = 'webcamVideo'
            let cp = window.faceNLZ.prepare({jwtToken, videoElementId})
            cp.then(x => {
              window.startNLZ = x.start
              window.stopNLZ = x.pause
              x.start()
            })
        //});
    </script>
% endif

</div>
